.main-card-icon{
  margin-left: 20px;
  width: 150px;
}

.card-comment {
  width: 200px;
  height: 150px;
  align-items: center;
  float: right;
  text-align: center;
  align-content: center;
  margin-right: 20px;

}

.main-sub-title {
  text-align: left;
  margin: 30px;
  color: #124584;
  font-weight: bold;
}

.card-wrapper {
  margin-bottom: 30px;
  padding-bottom: 30px;
}