.raidBackground {
    display: block;
    width: 100%;
}

.monster {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
}

.monsterDisplay {
    position: relative;
    display: inline-block;
}
  