.stamp-board {
    width: 100%;
    padding: 20px;
    background-color: #f0f4f8;
  }
  
  .theme-section {
    margin-bottom: 60px;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    z-index: 0;
  }
  
/*   .theme-header {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    z-index: 1;
    position: relative;
  } */
  
  .theme-path {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 1;
  }
  
  .mission-node {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    max-width: 100px;
  }
  
  .mission-icon {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-top: auto;
    margin: 5px;
  }
  
  .mission-node.stamped .mission-icon {
    background-color: #494e52;
    color: #494e52;
    transform: scale(1.2);
  }
  
  .mission-name {
    font-size: 14px;
    color: black;
    font-weight: bold;
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); */
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    z-index: 1;
    /* background-color: rgba(0, 0, 0, 0.6); 반투명 배경 추가 */
    padding: 5px; /* 텍스트와 배경 간의 여백 추가 */
    border-radius: 5px; /* 둥근 모서리 추가 */
  }
  
  .grayed-out {
    filter: grayscale(100%); /* 회색빛 적용 */
    opacity: 0.8; /* 약간 어둡게 */
  }
  
  @media (max-width: 768px) {
/*     .theme-header {
      font-size: 24px;
    }
   */
    .theme-path {
      height: 120px;
    }
  
    .mission-icon {
      width: 50px;
      height: 50px;
      font-size: 20px;
    }
  
    .mission-name {
      font-size: 12px;
      height: 35px;
    }
  }
  
  @media (max-width: 480px) {
/*     .theme-header {
      font-size: 20px;
    } */
  
    .theme-path {
      height: 100px;
    }
  
    .mission-icon {
      width: 53px;
      height: 53px;
      font-size: 21px;
    }
  
    .mission-name {
      font-size: 7px;
      height: 30px;
    }
  }