/* 검색 및 분류 영역 스타일링 */
.themeTitleContainer {
    margin-bottom: 20px;
}

.themeSearchContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
.search-container span {
    margin-right: 10px;
    width: 60px;
    font-weight: bold;
    color:#007FFF;
}

.search-container input {
    flex-grow: 1;
    margin: 0px 10px 0px 0px;
    width: 500px;
}

.search-container button {
    padding: 5px 0px 5px 0px;
    width: 80px;
    border: 0px;
    font-weight: bold;
    background-color: #007FFF;
    color: white;
}

.category-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.category-container span {
    width: 10%;
    margin-right: 10px;
    font-weight: bold;
    color:#007FFF;
}

.category-container button {
    width: 18%;
    margin-right: 5px;
    padding: 5px 10px;
    border: 0px;
    background-color: white;
    color: black;
}

  /* 테마 조회화면 그리드 적용을 위한 css */

.theme-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열 그리드 */
    gap: 20px; /* 항목 사이의 간격 */
    list-style: none; /* 리스트 스타일 제거 */
    padding: 0; /* 패딩 제거 */
  }
    
    /* 모바일에서는 1열로 표시 */
    @media (max-width: 768px) {
        .theme-grid {
            grid-template-columns: 1fr;
        }
    }
  
.theme-grid li .collapsible-header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px; /* 박스의 높이 */
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
    width: 100%;
    height: 150px;
    border: none;
    padding: 0px;
}

.theme-grid li {
    border: none !important;
}

.themeTitle {
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.themeThumbnail {
    width: 100%;
    height: 100%;
}

.themeThumbnail img {
    width: 100%;
    height: 100%;
display: block;
}

/* 테마 상세조회 영역 */

.themeDetailTitleContainer {
    margin-bottom: 10px;
}

.themeInfoContainer span {
    color:black;
    font-size: 16px;
    font-weight: bold;
    width: 60px;
    align-content: center;
}

.themeInfoContainer p {
    width: 100%;
    color: black;
    font-size: 15px;
}

.themeNameContainer span {
    width: 60px;
}

.themeNameContainer input {
    height: 24px !important;
    margin-bottom: 0px !important;
}

.themeCategoryContainer, .themeSubCategoryContainer {
    display: flex;
    width: 100%;
    height: 37px;
    align-items: center;
}

.mainCategoryEditContainer, .subCategoryEditContainer {
    display: flex;
    align-items: center;
    width:50%;
}

/* 수정버튼 클릭 전 */
.mainCategoryBeforeSpanContainer {
    display: inline-flex !important;
    align-content: center !important;
}

.mainCategoryBeforeContentContainer {
    display: inline-flex !important;
}

.subCategoryBeforeSpanContainer {
    color:black;
    font-size: 16px;
    font-weight: bold;
    width: 60px;
    align-content: center;
}

.subCategoryBeforeContentContainer {
    width:auto;
}

/* 수정버튼 클릭 후 */
.mainCategoryAfterSelectContainer, .subCategoryAfterSelectContainer {
    margin-left: 10px;
}

.themeNameContainer, .myThemeIsPublicContainer, .myThemeIsActivtedContainer {
    display: flex;
    align-items: center;
    height: 37px;
}

.themeContentDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.themeContentDiv span {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.themeEditBtn, .themeSaveBtn {
    background-color: #007FFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
    width: 80px;
}

.themeContentContainer {
    color: black;
    font-weight: bold;
    font-size: 14px;
    height: 150px;
    word-wrap: break-word;
    background-color: rgb(245, 245, 245);
    border: 0px !important;
    padding: 8px;
}

.themeContentContainer p {
    margin: 0px !important;
    font-weight: lighter !important;
}

.themeContentEditContainer {
    color: black;
    font-weight: bold;
    font-size: 14px;
    height: 135px;
    word-wrap: break-word;
    background-color: rgb(245, 245, 245);
    border: 0px !important;
}

.themeBottomBtnDiv {
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
}

.moveThemeListBtn {
    background-color: #007FFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
    width: 80px;
}

.themeRemoveBtn, .themeEditCancleBtn {
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
    width: 80px;
}

/* 테마 상세조회 끝 */

/* 테마 등록 영역 */
.themeBackgroundImg {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.themeBackgroundImg img {
    max-width: 100%;
    height: 100%;
}

.themeRecieveBtn {
    background-color: #007FFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
}

.themeCategoriesContainer {
    display: flex;
    justify-content: space-between;
}

.themeCategorySelectContainer , .themeSubCategorySelectContainer {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.themeContentDiv{
    white-space: nowrap;
}

.registerBtn {
    background-color: #007FFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
    width: 80px;
}

/* 선택 제한 안내 문구 스타일 */
.theme-limit-info {
    font-size: 14px;
    color: #888888;
    margin-top: 5px;
    margin-left: 10px;
}


.selectedThemes {
    display: flex;
    /* flex-wrap: wrap; */  /* 항목들이 줄을 넘어갈 경우 자동으로 다음 줄로 이동 */
    overflow-x: auto; /* 항목을 옆으로 넘김 */
    gap: 10px;
    width: 100%;
    min-height: 40px;  /* 최소 높이 설정 */
    background-color: rgb(245, 245, 245);
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    align-items: center; /* 텍스트가 중앙에 오도록 정렬 */
    border-radius: 5px; /* 모서리 둥글게 */
    margin-top: 2px;
}

.placeholder {
    color: #888888;
    font-size: 14px;
}

.tag {
    background-color: white;
    border-radius: 15px;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid lightgrey;
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
    flex-shrink: 0;
}

.removeTag {
    margin-left: 5px !important;
    margin-right: 0px !important;
    width: 10px !important;
    color: red;
    cursor: pointer;
    font-weight: bold;
}

/* 테마 등록 끝 */