/* 전체 컨테이너 스타일 */
.theme-result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

/* 결과 섹션 스타일 */
.result-section {
    text-align: center;
    width: 100%;
}

.result-theme {
    font-size: 26px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 25px;
}

.result-reason {
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    color: #555555;
    margin-bottom: 30px;
    padding: 0 30px;
}

.result-reason li {
    margin-bottom: 15px;
    list-style-position: inside;
    text-indent: -1.5em;
    padding-left: 2.5em;
}

/* 버튼 그룹 스타일 */
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

button {
    padding: 10px 15px; /* padding 조정 */
    font-size: 14px; /* font-size 조정 */
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    white-space: nowrap; /* 텍스트를 한 줄로 유지 */
}

button:hover {
    background-color: #0056b3;
}

/* 개별 버튼 색상 조정 */
.register-button {
    background-color: #28a745; /* 연한 초록색 */
}

.register-button:hover {
    background-color: #218838; /* 조금 더 진한 초록색 */
}

.retry-button {
    background-color: #dc3545; /* 빨간색 */
}

.retry-button:hover {
    background-color: #c82333; /* 조금 더 진한 빨간색 */
}

/* 모달창 관련 스타일 */
.subcategory-button {
    width: 100%;
    margin-top: 30px;
}

.modal-button-group {
    display: flex;
    justify-content: space-between; /* 버튼 간격을 균등하게 설정 */
    gap: 20px; /* 버튼 간격을 조절 */
    margin-top: 20px;
}

.Modal {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}