/* 검색 및 분류 영역 스타일링 */
.themeTitleContainer {
    margin-bottom: 20px;
}

.themeSearchContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
.search-container span {
    margin-right: 10px;
    width: 60px;
    font-weight: bold;
    color:#007FFF;
}

.search-container input {
    flex-grow: 1;
    margin: 0px 10px 0px 0px;
    width: 500px;
}

.search-container button {
    padding: 5px 0px 5px 0px;
    width: 80px;
    border: 0px;
    font-weight: bold;
    background-color: #007FFF;
    color: white;
}

.category-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.category-container span {
    width: 10%;
    margin-right: 10px;
    font-weight: bold;
    color:#007FFF;
}

.category-container button {
    width: 18%;
    margin-right: 5px;
    padding: 5px 10px;
    border: 0px;
    background-color: white;
    color: black;
}

  /* 테마 조회화면 그리드 적용을 위한 css */

.theme-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열 그리드 */
    gap: 20px; /* 항목 사이의 간격 */
    list-style: none; /* 리스트 스타일 제거 */
    padding: 0; /* 패딩 제거 */
  }
    
    /* 모바일에서는 1열로 표시 */
    @media (max-width: 768px) {
        .theme-grid {
            grid-template-columns: 1fr;
        }
    }
  
.theme-grid li .collapsible-header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px; /* 박스의 높이 */
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
    width: 100%;
    height: 150px;
    border: none;
    padding: 0px;
}

.theme-grid li {
    border: none !important;
}

.themeTitle {
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.themeThumbnail {
    width: 100%;
    height: 100%;
}

.themeThumbnail img {
    width: 100%;
    height: 100%;
display: block;
}

/* 테마 상세조회 영역 */

.themeDetailTitleContainer {
    margin-bottom: 10px;
}

.themeInfoContainer span {
    margin: 0px 10px;
    color:black;
    font-size: 16px;
    font-weight: bold;
    width: 60px;
}
/* 
.themeNameContainer input {
    height: 24px !important;
} */

.themeInfoContainer p {
    width: 100%;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.themeNameContainer {
    display: flex;
    align-items: center;
}

.themeNameContainer input {
    height: 35px !important;
    margin-bottom: 0px !important;
}

.themeCategoryContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mainCategoryEditContainer {
    width: 25%;
}

.mainCategorySelectedContainer {
    width: 65%;
}

.themeNameContainer, .themeCategoryContainer, .themeSubCategoryContainer, 
.myThemeIsPublicContainer, .myThemeIsActivtedContainer {
    display: flex;
    align-items: center;
    height: 37px;
}

.themeContentDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.themeContentDiv span {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.themeEditBtn, .themeSaveBtn {
    background-color: #007FFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
    width: 80px;
}

.themeContentContainer {
    color: black;
    font-weight: bold;
    font-size: 14px;
    height: 300px;
    word-wrap: break-word;
}

.moveThemeListBtnDiv {
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
}

.moveThemeListBtn {
    background-color: #007FFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
    width: 80px;
}

.themeRemoveBtn, .themeEditCancleBtn {
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
    width: 80px;
}

/* 테마 상세조회 끝 */

/* 테마 등록 영역 */
.themeBackgroundImg {
    height: 300px;
}

.themeBackgroundImg img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
}

.themeRecieveBtn {
    background-color: #007FFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
}

.themeCategoriesContainer {
    display: flex;
    justify-content: space-between;
}

.themeCategorySelectContainer , .themeSubCategorySelectContainer {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.themeCategorySelectContainer label, .themeSubCategorySelectContainer label {
    font-size: 16px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.themeCategorySelectContainer select , .themeSubCategorySelectContainer select {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 1px;
    border: 1px solid #ccc;
}

.registerBtn {
    background-color: #007FFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
}

.selectedThemes {
    display: flex;
    flex-wrap: wrap;  /* 항목들이 줄을 넘어갈 경우 자동으로 다음 줄로 이동 */
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

.tag {
    background-color: white;
    border-radius: 15px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid lightgrey;
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}

.removeTag {
    margin-left: 5px;
    color: red;
    cursor: pointer;
    font-weight: bold;
}

/* 테마 등록 끝 */