/* 검색 및 분류 영역 스타일링 */
.themeTitleContainer {
    margin-bottom: 20px;
}

.themeSearchContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
.search-container span {
    margin-right: 10px;
    width: 60px;
    font-weight: bold;
    color:#007FFF;
}

.search-container input {
    flex-grow: 1;
    margin: 0px 10px 0px 0px;
    width: 500px;
}

.search-container button {
    padding: 5px 10px;
    width: 80px;
    border: 0px;
    font-weight: bold;
    background-color: #007FFF;
    color: white;
}

.category-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.category-container span {
    width: 60px;
    margin-right: 10px;
    font-weight: bold;
    color:#007FFF;
}

.category-container button {
    margin-right: 5px;
    padding: 5px 10px;
    border: 0px;
    background-color: white;
    color: black;
}

  /* 테마 조회화면 그리드 적용을 위한 css */

.theme-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열 그리드 */
    gap: 20px; /* 항목 사이의 간격 */
    list-style: none; /* 리스트 스타일 제거 */
    padding: 0; /* 패딩 제거 */
  }
    
    /* 모바일에서는 1열로 표시 */
    @media (max-width: 768px) {
        .theme-grid {
            grid-template-columns: 1fr;
        }
    }
  
.theme-grid li .collapsible-header {
    background-color: #007FFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px; /* 박스의 높이 */
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 8px;
}

.themeTitle {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

/* 테마 상세조회 영역 */

.themeDetailTitleContainer {
    margin-bottom: 10px;
}

.themeNameContainer span, .themeCategoryContainer span, .themeSubCategoryContainer span {
    margin: 0px 10px;
    color:black;
    font-size: 16px;
    font-weight: bold;
    width: 60px;
}

.themeInfoContainer p {
    border: 1px solid lightgrey;
    width: 100%;
}

.themeNameContainer {
    display: flex;
    align-items: center;
}

.themeNameContainer, .themeCategoryContainer, .themeSubCategoryContainer {
    display: flex;
    align-items: center;
}

.themeContentDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.themeContentDiv span {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.themeEditBtn {
    background-color: #007FFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
}

.themeContentContainer {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    font-size: 20px;
    height: 300px;
}

.moveThemeListBtnDiv {
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
}

.moveThemeListBtn {
    background-color: #007FFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
}

.themeRemoveBtn {
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
}

/* 테마 상세조회 끝 */

/* 테마 등록 영역 */
.themeBackgroundImg {
    height: 300px;
}

.themeBackgroundImg img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
}

.themeRecieveBtn {
    background-color: #007FFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
}

.themeCategoriesContainer {
    display: flex;
    justify-content: space-between;
}

.themeCategorySelectContainer , .themeSubCategorySelectContainer {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.themeCategorySelectContainer label, .themeSubCategorySelectContainer label {
    font-size: 16px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    white-space: nowrap;
}

.themeCategorySelectContainer select, .themeSubCategorySelectContainer select {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 10; /* z-index 설정 */
    position: relative; /* z-index가 적용되려면 relative나 absolute로 설정 */
    visibility: visible; 
    display: block; /* 안 보이는 문제를 해결 */
}

.themeContentDiv{
    white-space: nowrap;
}

.registerBtn {
    background-color: #007FFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    padding: 5px 10px;
}

/* 선택 제한 안내 문구 스타일 */
.theme-limit-info {
    font-size: 14px;
    color: #888888;
    margin-top: 5px;
    margin-left: 10px;
}


.selectedThemes {
    display: flex;
    flex-wrap: wrap;  /* 항목들이 줄을 넘어갈 경우 자동으로 다음 줄로 이동 */
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    min-height: 40px;  /* 최소 높이 설정 */
    background-color: lightgray;
    color: black;
    font-weight: bold;
    padding: 10px;
    align-items: center; /* 텍스트가 중앙에 오도록 정렬 */
    border-radius: 5px; /* 모서리 둥글게 */
    margin-bottom: 20px;
}

.placeholder {
    color: #888888;
    font-size: 14px;
}


.tag {
    background-color: white;
    border-radius: 15px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid lightgrey;
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}

.removeTag {
    margin-left: 5px;
    color: red;
    cursor: pointer;
    font-weight: bold;
}

/* 테마 등록 끝 */